<div data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related" class="padding-global">
          <div class="padding-section-small">
            <div class="container-medium">
              <div class="products_components">
                <div class="products_heading">
                  <h2 class="best-sellers-heading">
{{ section.settings.text_titre }}
</h2>
                  <p class="text-style-tagline">Pour tous les fans de (vrai) produit</p>
                </div>
                <div class="swiper is-product-swiper w-dyn-list">
                  <div role="list" class="swiper-wrapper is-product-swiper w-dyn-items">
                    {% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div li-for:inside="product in collection.products limit: 4" role="listitem" class="swiper-slide is-product-swiper w-dyn-item">
    
                      
    {% render 'product_item', product: product %}
    
                    
</div>
{% endfor %}
                  </div>
                  <div class="hide w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
                <div class="products_button-wrapper">
                  <a href="{{ section.settings.url_bouton_lien }}" class="button w-button"> {{ section.settings.text_bouton_texte }} </a>
                </div>
                <script> document.addEventListener('DOMContentLoaded', function (){if (window.innerWidth >= 991) return; new Swiper('.swiper.is-product-swiper',{slidesPerView: 'auto', slidesPerGroup: 1, spaceBetween: 14, loop: false, allowTouchMove: true, simulateTouch: true, slideToClickedSlide: true, speed: 400, observer: true, observeParents: true});}); </script>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Produits",
    "class": "section_products",
    "settings": [
        {
            "id": "text_titre",
            "type": "text",
            "label": "Titre",
            "default": "Nos <strong>meilleures <\/strong>ventes"
        },
        {
            "id": "collection_collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "collection_collection_limit",
            "min": 1,
            "max": 99,
            "step": 1,
            "label": "Limit: Collection",
            "default": 6
        },
        {
            "id": "url_bouton_lien",
            "type": "url",
            "label": "Bouton : Lien"
        },
        {
            "id": "text_bouton_texte",
            "type": "text",
            "label": "Bouton : Texte",
            "default": "Tous nos produits"
        }
    ],
    "presets": [
        {
            "name": "Produits",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}