<div class="padding-global">
          <div class="padding-section-medium">
            <div class="container-large">
              <div class="scials_component-wrapper">
                <div class="socials_component">
                  <div class="socials_heading">
                    <h2 class="text-color-white heading-style-h4">
{{ section.settings.text_heading }}
</h2>
                    <p class="text-size-small">
{{ section.settings.text_paragraphe }}
</p>
                  </div>
                  <div class="socials_list">
                    <a href="{{ section.settings.url_facebook }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"> <XML></XML> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="73 0 267 266.9" enable-background="new 73 0 267 266.9" xml:space="preserve"> <path id="Blue_1_" fill="#157DC3" d="M321.1,262.3c7.9,0,14.2-6.4,14.2-14.2V18.8c0-7.9-6.4-14.2-14.2-14.2H91.8 C84,4.6,77.6,11,77.6,18.8v229.3c0,7.9,6.4,14.2,14.2,14.2H321.1z"></path> <path id="f" fill="#FFFFFF" d="M255.4,262.3v-99.8h33.5l5-38.9h-38.5V98.8c0-11.3,3.1-18.9,19.3-18.9l20.6,0V45 c-3.6-0.5-15.8-1.5-30-1.5c-29.7,0-50,18.1-50,51.4v28.7h-33.6v38.9h33.6v99.8H255.4z"></path> </svg> </div> <div class="text-size-tiny">{{ section.settings.text_nom_facebook }}</div> </a>
                    <a href="{{ section.settings.url_instagram }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"><svg width="19" height="19" viewbox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_4205_6699)"> <path d="M10.0452 -0.0263672C6.28772 -0.0263672 5.18882 -0.02249 4.97534 -0.00476539C4.20426 0.059347 3.72443 0.180797 3.20171 0.441113C2.79887 0.641219 2.48117 0.873149 2.16761 1.1983C1.59656 1.79124 1.25048 2.52063 1.1252 3.38782C1.06429 3.80866 1.04657 3.89452 1.04297 6.0448C1.04159 6.76154 1.04297 7.70481 1.04297 8.96998C1.04297 12.7253 1.04713 13.8235 1.06512 14.0368C1.12742 14.7873 1.24509 15.2595 1.49428 15.776C1.9705 16.7647 2.88003 17.5069 3.95146 17.7839C4.32247 17.8795 4.73223 17.9321 5.2583 17.957C5.48117 17.9667 7.75291 17.9736 10.026 17.9736C12.299 17.9736 14.5722 17.9709 14.7895 17.9598C15.3986 17.9311 15.7523 17.8836 16.1434 17.7825C16.6747 17.6462 17.1698 17.3956 17.5942 17.0481C18.0186 16.7005 18.3621 16.2645 18.6006 15.7705C18.8449 15.2665 18.9688 14.7763 19.0249 14.0649C19.037 13.9098 19.0422 11.4371 19.0422 8.9677C19.0422 6.49792 19.0366 4.02976 19.0244 3.8746C18.9686 3.1519 18.8441 2.6659 18.5919 2.15218C18.3849 1.73155 18.1552 1.41749 17.8215 1.09639C17.2261 0.527532 16.498 0.181338 15.6302 0.0561664C15.2099 -0.00462318 15.126 -0.022625 12.9748 -0.0263636L10.0452 -0.0263672Z" fill="url(#paint0_radial_4205_6699)"></path> <path d="M10.0452 -0.0263672C6.28772 -0.0263672 5.18882 -0.02249 4.97534 -0.00476539C4.20426 0.059347 3.72443 0.180797 3.20171 0.441113C2.79887 0.641219 2.48117 0.873149 2.16761 1.1983C1.59656 1.79124 1.25048 2.52063 1.1252 3.38782C1.06429 3.80866 1.04657 3.89452 1.04297 6.0448C1.04159 6.76154 1.04297 7.70481 1.04297 8.96998C1.04297 12.7253 1.04713 13.8235 1.06512 14.0368C1.12742 14.7873 1.24509 15.2595 1.49428 15.776C1.9705 16.7647 2.88003 17.5069 3.95146 17.7839C4.32247 17.8795 4.73223 17.9321 5.2583 17.957C5.48117 17.9667 7.75291 17.9736 10.026 17.9736C12.299 17.9736 14.5722 17.9709 14.7895 17.9598C15.3986 17.9311 15.7523 17.8836 16.1434 17.7825C16.6747 17.6462 17.1698 17.3956 17.5942 17.0481C18.0186 16.7005 18.3621 16.2645 18.6006 15.7705C18.8449 15.2665 18.9688 14.7763 19.0249 14.0649C19.037 13.9098 19.0422 11.4371 19.0422 8.9677C19.0422 6.49792 19.0366 4.02976 19.0244 3.8746C18.9686 3.1519 18.8441 2.6659 18.5919 2.15218C18.3849 1.73155 18.1552 1.41749 17.8215 1.09639C17.2261 0.527532 16.498 0.181338 15.6302 0.0561664C15.2099 -0.00462318 15.126 -0.022625 12.9748 -0.0263636L10.0452 -0.0263672Z" fill="url(#paint1_radial_4205_6699)"></path> <path d="M10.0423 11.7792C11.6216 11.7792 12.9019 10.4989 12.9019 8.91963C12.9019 7.34033 11.6216 6.06006 10.0423 6.06006C8.46301 6.06006 7.18274 7.34033 7.18274 8.91963C7.18274 10.4989 8.46301 11.7792 10.0423 11.7792Z" stroke="white" stroke-width="1.27948"></path> <path d="M12.7979 2.88525H7.28665C5.43069 2.88525 3.92615 4.3898 3.92615 6.24575V11.7017C3.92615 13.5576 5.43069 15.0622 7.28665 15.0622H12.7979C14.6538 15.0622 16.1584 13.5576 16.1584 11.7017V6.24575C16.1584 4.3898 14.6538 2.88525 12.7979 2.88525Z" stroke="white" stroke-width="1.29639"></path> <path d="M13.6814 6.21909C14.1301 6.21909 14.4938 5.85536 14.4938 5.40667C14.4938 4.95797 14.1301 4.59424 13.6814 4.59424C13.2327 4.59424 12.869 4.95797 12.869 5.40667C12.869 5.85536 13.2327 6.21909 13.6814 6.21909Z" fill="white"></path> </g> <defs> <radialgradient id="paint0_radial_4205_6699" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(5.82286 19.3601) rotate(-90) scale(17.839 16.5918)"> <stop stop-color="#FFDD55"></stop> <stop offset="0.1" stop-color="#FFDD55"></stop> <stop offset="0.5" stop-color="#FF543E"></stop> <stop offset="1" stop-color="#C837AB"></stop> </radialgradient> <radialgradient id="paint1_radial_4205_6699" cx="0" cy="0" r="1" gradienttransform="matrix(1.56511 7.81911 -32.23 6.45512 -1.97396 1.26856)" gradientunits="userSpaceOnUse"> <stop stop-color="#3771C8"></stop> <stop offset="0.128" stop-color="#3771C8"></stop> <stop offset="1" stop-color="#6600FF" stop-opacity="0"></stop> </radialgradient> <clippath id="clip0_4205_6699"> <rect width="18" height="18" fill="white" transform="translate(0.862183 0.155762)"></rect> </clippath> </defs> </svg></div> <div class="text-size-tiny">{{ section.settings.text_nom_instagram }}</div> </a>
                    <a href="{{ section.settings.url_youtube }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"><svg width="19" height="19" viewbox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_4205_6693)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M0.361176 18.667H18.3612V0.666992H0.361176V18.667Z" fill="black"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6562 3.41219C11.5962 3.15719 11.5512 2.88719 11.5512 2.61719H9.30119V7.11719V7.85219V11.7072C9.30119 12.7572 8.40119 13.6122 7.35119 13.6122C6.30119 13.6122 5.46119 12.7722 5.46119 11.7222C5.46119 10.6722 6.31619 9.81719 7.36619 9.81719C7.57619 9.81719 7.77119 9.84719 7.96619 9.90719V7.46219C7.77119 7.43219 7.57619 7.41719 7.36619 7.41719C4.98119 7.41719 3.06119 9.33719 3.06119 11.7222C3.06119 14.0922 4.98119 16.0272 7.36619 16.0272C9.70619 16.0272 11.6562 14.1522 11.7162 11.8272V11.7222V7.16219C12.6012 7.76219 13.6212 8.12219 14.7612 8.12219V5.81219C13.2762 5.81219 12.0162 4.79219 11.6562 3.41219Z" fill="#25F4EE"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4062 4.16219C12.3462 3.90719 12.3012 3.63719 12.3012 3.36719H10.0512V7.86719V8.60219V12.4572C10.0512 13.5072 9.15119 14.3622 8.10119 14.3622C7.05119 14.3622 6.21119 13.5222 6.21119 12.4722C6.21119 11.4222 7.06619 10.5672 8.11619 10.5672C8.32619 10.5672 8.52119 10.5972 8.71619 10.6572V8.21219C8.52119 8.18219 8.32619 8.16719 8.11619 8.16719C5.73119 8.16719 3.81119 10.0872 3.81119 12.4722C3.81119 14.8422 5.73119 16.7772 8.11619 16.7772C10.4562 16.7772 12.4062 14.9022 12.4662 12.5772V12.4722V7.91219C13.3512 8.51219 14.3712 8.87219 15.5112 8.87219V6.56219C14.0262 6.56219 12.7662 5.54219 12.4062 4.16219Z" fill="white"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6562 3.36719C11.6562 3.38219 11.6712 3.39719 11.6712 3.41219C11.8662 4.14719 12.3162 4.79219 12.9162 5.22719C12.6912 4.91219 12.5262 4.55219 12.4212 4.16219C12.3612 3.90719 12.3162 3.63719 12.3162 3.36719H11.6562ZM14.7612 6.47219V8.10719C13.6062 8.10719 12.6012 7.74719 11.7162 7.14719V11.7072V11.8122C11.6562 14.1372 9.70617 16.0122 7.36617 16.0122C6.37617 16.0122 5.44617 15.6672 4.72617 15.1122C5.50617 16.1172 6.73617 16.7622 8.11617 16.7622C10.4562 16.7622 12.4062 14.8872 12.4662 12.5622V12.4572V7.91219C13.3512 8.51219 14.3712 8.87219 15.5112 8.87219V6.56219C15.2562 6.56219 15.0012 6.53219 14.7612 6.47219ZM7.96617 8.16719V9.90719C7.77117 9.84719 7.57617 9.81719 7.36617 9.81719C6.31617 9.81719 5.46117 10.6722 5.46117 11.7222C5.46117 12.4422 5.86617 13.0572 6.45117 13.3872C6.30117 13.1172 6.21117 12.8022 6.21117 12.4722C6.21117 11.4222 7.06617 10.5672 8.11617 10.5672C8.32617 10.5672 8.52117 10.5972 8.71617 10.6572V8.21219C8.52117 8.18219 8.32617 8.16719 8.11617 8.16719C8.05617 8.16719 8.01117 8.16719 7.96617 8.16719Z" fill="#FE2C55"></path> </g> <defs> <clippath id="clip0_4205_6693"> <rect x="0.361176" y="0.666992" width="18" height="18" rx="0.6" fill="white"></rect> </clippath> </defs> </svg></div> <div class="text-size-tiny">{{ section.settings.text_nom_tiktok }}</div> </a>
                    <a href="{{ section.settings.url_linkedin }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"> <XML></XML><svg height="72" viewbox="0 0 72 72" width="72" xmlns="http://www.w3.org/2000/svg"> <g fill="none" fill-rule="evenodd"> <path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="#007EBB"></path> <path d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z" fill="#FFF"></path> </g> </svg> </div> <div class="text-size-tiny">{{ section.settings.text_nom_linkedin }}</div> </a>
                  </div>
                  <div class="social_image-list">{% if section.settings.image_image_1 %}
{{ section.settings.image_image_1 | image_url: width: 1000 | image_tag: width: '237', id: 'w-node-d476ef7e-00f7-cd10-5e59-25f45896f829-5896f80c', loading: 'lazy', class: 'social_image' }}
{% else %}
<img width="237" id="w-node-d476ef7e-00f7-cd10-5e59-25f45896f829-5896f80c" alt="" src="{{ 'partenaires.avif' | asset_url }}" loading="lazy" class="social_image">
{% endif %}{% if section.settings.image_image_2 %}
{{ section.settings.image_image_2 | image_url: width: 1000 | image_tag: width: '237', id: 'w-node-d476ef7e-00f7-cd10-5e59-25f45896f82a-5896f80c', loading: 'lazy', class: 'social_image is-center' }}
{% else %}
<img width="237" id="w-node-d476ef7e-00f7-cd10-5e59-25f45896f82a-5896f80c" alt="" src="{{ 'reseaux-sociaux.avif' | asset_url }}" loading="lazy" class="social_image is-center">
{% endif %}{% if section.settings.image_image_5 %}
{{ section.settings.image_image_5 | image_url: width: 1000 | image_tag: width: '237', id: 'w-node-d476ef7e-00f7-cd10-5e59-25f45896f82b-5896f80c', loading: 'lazy', class: 'social_image' }}
{% else %}
<img width="237" id="w-node-d476ef7e-00f7-cd10-5e59-25f45896f82b-5896f80c" alt="" src="{{ 'hugo.avif' | asset_url }}" loading="lazy" class="social_image">
{% endif %}</div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "reseaux",
    "class": "section_reseaux",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Suivez-nous sur nos r\u00e9seaux sociaux"
        },
        {
            "id": "text_paragraphe",
            "type": "text",
            "label": "Paragraphe",
            "default": "\u201cPartagez vos plus belles recettes et vos paniers de fruits corses sur Instagram,Facebook et TikTok avec le hashtag #UTragulinuCorsica pour \u00eatre mis en avant sur notre page !\u201d"
        },
        {
            "id": "url_facebook",
            "type": "url",
            "label": "Facebook"
        },
        {
            "id": "text_nom_facebook",
            "type": "text",
            "label": "Nom : Facebook",
            "default": "U Tragulinu Corsica"
        },
        {
            "id": "url_instagram",
            "type": "url",
            "label": "Instagram"
        },
        {
            "id": "text_nom_instagram",
            "type": "text",
            "label": "Nom : Instagram",
            "default": "@U_tragulinu_corsica"
        },
        {
            "id": "url_youtube",
            "type": "url",
            "label": "Youtube"
        },
        {
            "id": "text_nom_tiktok",
            "type": "text",
            "label": "Nom : TikTok",
            "default": "U-tragulinu-corsica"
        },
        {
            "id": "url_linkedin",
            "type": "url",
            "label": "Linkedin"
        },
        {
            "id": "text_nom_linkedin",
            "type": "text",
            "label": "Nom : LinkedIn",
            "default": "Hugo Delorieux"
        },
        {
            "id": "image_image_1",
            "type": "image_picker",
            "label": "image 1"
        },
        {
            "id": "image_image_2",
            "type": "image_picker",
            "label": "Image 2"
        },
        {
            "id": "image_image_5",
            "type": "image_picker",
            "label": "Image 5"
        }
    ],
    "presets": [
        {
            "name": "reseaux",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}