<div class="padding-global">
          <div class="padding-section-small-hero">
            <div class="container-large">
              <div class="search_component">
                <div class="small-hero_component">
                  <div class="small-hero_heading">
                    <h1 li-object="search.terms | escape ">{{ search.terms | escape  }}</h1>
                  </div>
                </div>
                {% paginate search.results by 50 %}
    <div li-paginate:by="50" li-paginate="search.results" class="filter_layout without-filters" by="50">
                  <div id="w-node-a0c6bdd1-98cb-55f5-4c1e-53478bffa6a3-9c9c830b" class="filter_feed">
                    <div class="filter_product-list-wrapper w-dyn-list">
                      <div role="list" class="filter_product-list without-filters w-dyn-items">
                        {% for product in search.results %}    <div li-for="product in search.results" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                          
                            {% render 'product_item', product: product %}
                            
                        
                        </div>
{% endfor %}
                      </div>
                      {% if search.results == blank %}    <div li-if="search.results == blank" class="filter_empty w-dyn-empty">
    
                        <div class="heading-style-h6-2">Aucun résultat trouvé.</div>
                        <div class="spacer-xxsmall"></div>
                        <div>Aucun résultat ne correspond à ces critères. Essayez de modifier votre recherche.</div>
                          </div>
{% endif %}
                    </div>
                    {% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    
                      <ul role="list" class="pagination_list w-list-unstyled">
                        {% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    
                          <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon w-inline-block">
                            <div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                                <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                              </svg></div>
                            <div>Back</div>
                          </a>
                            </li>
{% endif %}
                        {% if paginate.previous == false %}    <li li-if="paginate.previous == false" class="pagination_item">
    
                          <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block">
                            <div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                                <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                              </svg></div>
                            <div>Back</div>
                          </a>
                            </li>
{% endif %}
                        {% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                          
                            {% if part.is_link %}    <div li-if="part.is_link">
    
                            <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block">
                              <div li-object="part.title" class="text-style-link">{{ part.title }}</div>
                            </a>
                              </div>
{% endif %}
                            
                          
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    
                            {% if part.is_link != true %}    <div li-if="part.is_link != true">
    
                              <div>
                                <div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div>
                              </div>
                                </div>
{% endif %}
                              </div>
{% endif %}
                            
                        
                        </li>
{% endfor %}
                        {% if paginate.next == false %}    <li li-if="paginate.next == false" class="pagination_item">
    
                          <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block">
                            <div>Next</div>
                            <div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                                <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                              </svg></div>
                          </a>
                            </li>
{% endif %}
                        {% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    
                          <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon w-inline-block">
                            <div>Next</div>
                            <div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                                <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                              </svg></div>
                          </a>
                            </li>
{% endif %}
                      </ul>
                        </nav>
{% endif %}
                  </div>
                </div>{% endpaginate %}
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script>
//sortierung
  Shopify.queryParams = {};
  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');
    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }
  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Search",
    "class": "section_small-hero",
    "presets": [
        {
            "name": "Search",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "search"
        ]
    }
} {% endschema %}