<div class="padding-global padding-section-3-75">
          <div class="container-large">
            <div class="partners_component">
              <div class="hero-mobile"></div>
              <div class="swiper is-partners">
                <div class="swiper-wrapper is-partners">
                  {% for block in section.blocks %}
    {% if block.type == "producteur" %}
                    <div li-block="Producteur" class="swiper-slide is-partners">
                                    
                    
                                    <div class="partners_image-wrapper">{% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'partners_image' }}
{% else %}
<img src="{{ 'de-la-taste.avif' | asset_url }}" loading="lazy" alt="" class="partners_image">
{% endif %}
                      <div class="partners_info-wrapper">
                        <div class="partners_heading">
{{ block.settings.text_nom_producteur }}
</div>
                        <div class="partners_info">
{{ block.settings.text_infos_producteur }}
</div>
                      </div>
                    </div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                </div>
                <div class="swiper_pagination is-mixed">
                  <div class="swiper_bullet is-active"></div>
                  <div class="swiper_bullet"></div>
                </div>
                <div class="swiper_overlay-navigation is-partners"><button aria-label="Previous slide" type="button" class="swiper_button swiper-prev is-partners">
                    <div class="icon-1x1-small w-embed"><svg width="20" height="19" viewbox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.29131 12.9996C-0.764049 11.5563 -0.764048 7.20932 2.29131 5.76604L13.6763 0.388028C16.3297 -0.865402 19.3848 1.0702 19.3848 4.00481L19.3848 14.7608C19.3848 17.6954 16.3297 19.631 13.6763 18.3776L2.29131 12.9996Z" fill="#FA5F2B"></path>
                      </svg></div>
                  </button><button aria-label="Next slide" type="button" class="swiper_button swiper-next is-partners">
                    <div class="icon-1x1-small w-embed"><svg width="20" height="19" viewbox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.0935 5.76604C20.1488 7.20932 20.1488 11.5563 17.0935 12.9996L5.70848 18.3776C3.05503 19.631 0 17.6954 0 14.7608V4.00481C0 1.0702 3.05503 -0.865401 5.70848 0.388029L17.0935 5.76604Z" fill="#FA5F2B"></path>
                      </svg></div>
                  </button></div>
              </div>
              <div li-content-for-blocks="" class="partners-content_wrapper">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                {% when 'sur-titre' %}
            <div li-block="Sur titre">
                    
                  
                    <div class="text-size-small text-weight-semibold">
{{ block.settings.text_sur_titre }}
</div>
                    
                
                </div>
                {% when 'headline' %}
            <div li-block="Headline">
                    
                  
                    <h2 data-mobile-target=".hero-mobile" data-desktop-parent=".hero-desktop">
{{ block.settings.text_titre }}
</h2>
                    
                
                </div>
                {% when 'text' %}
            <div li-block="Text">
                    
                  
                    <div> {{ block.settings.richtext_paragraphe }} </div>
                    
                
                </div>
                {% when 'boutons' %}
            <div li-block="Boutons">
                    
                  
                    <div class="button-group">
                    {% if block.settings.url_button_link %}    <div li-if="block.settings.url_button_link">
    
                      <a href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
                        </div>
{% endif %}
                    {% if block.settings.url_button_link_2 %}    <div li-if="block.settings.url_button_link_2">
    
                      <a href="{{ block.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
                        </div>
{% endif %}
                  </div>
                    
                
                </div>
              {% endcase %}
{% endfor %}

    </div>
            </div>
          </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> <script> // Initialisation du Swiper pour les partenaires const partnersSwiper = new Swiper('.swiper.is-partners',{// Param&egrave;tres de base slidesPerView: 1, spaceBetween: 20, loop: true, speed: 600, // Navigation navigation:{nextEl: '.swiper-next.is-partners', prevEl: '.swiper-prev.is-partners',}, // Pagination personnalis&eacute;e pagination:{el: '.swiper_pagination.is-mixed', clickable: true, bulletClass: 'swiper_bullet', bulletActiveClass: 'is-active', renderBullet: function (index, className){return '<div class="' + className + '"></script>';
    },
  },
  // Effets et transitions
  effect: 'slide',
  // Accessibilité
  a11y: {
    prevSlideMessage: 'Diapositive précédente',
    nextSlideMessage: 'Diapositive suivante',
  }
}); {% schema %} {
    "tag": "section",
    "name": "Slider Producteurs",
    "class": "section_partners",
    "blocks": [
        {
            "name": "Producteur",
            "type": "producteur",
            "settings": [
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "text_nom_producteur",
                    "type": "text",
                    "label": "Nom producteur",
                    "default": "Domaines de La Taste"
                },
                {
                    "id": "text_infos_producteur",
                    "type": "text",
                    "label": "Infos producteur",
                    "default": "Producteurs agricoles ind\u00e9pendants"
                }
            ]
        },
        {
            "name": "Sur titre",
            "type": "sur-titre",
            "settings": [
                {
                    "id": "text_sur_titre",
                    "type": "text",
                    "label": "Sur-titre",
                    "default": "Small Headline"
                }
            ]
        },
        {
            "name": "Headline",
            "type": "headline",
            "settings": [
                {
                    "id": "text_titre",
                    "type": "text",
                    "label": "Titre",
                    "default": "Lorem ipsum dolor sit amet"
                }
            ]
        },
        {
            "name": "Text",
            "type": "text",
            "settings": [
                {
                    "id": "richtext_paragraphe",
                    "type": "richtext",
                    "label": "Paragraphe",
                    "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.<\/p>"
                }
            ]
        },
        {
            "name": "Boutons",
            "type": "boutons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Button"
                },
                {
                    "id": "url_button_link_2",
                    "type": "url",
                    "label": "Button Link 2"
                },
                {
                    "id": "text_button_text_2",
                    "type": "text",
                    "label": "Button Text 2",
                    "default": "Button 2"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "image-position"
        },
        {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        }
    ],
    "presets": [
        {
            "name": "Slider Producteurs",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "producteur"
                },
                {
                    "type": "sur-titre"
                },
                {
                    "type": "headline"
                },
                {
                    "type": "text"
                },
                {
                    "type": "boutons"
                }
            ]
        }
    ]
} {% endschema %}